<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Huobi-auto</title>
    <link th:href="@{css/font-awesome.min.css}" rel="stylesheet" />
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet" />

</head>
<body>
asdf
</body>
</html>